.wrapper {
    min-width: 100px;
    border-radius: 4px;
    padding: 5px 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 600;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background-color: transparent;

    & + .wrapper {
        margin-left: 16px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }

    .icon {
        display: flex;
        align-items: center;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
// theme
.rounded {
    background-color: var(--white);
    border-radius: 999px;
    color: var(--secondary-075);
    border-color: var(--secondary-012);

    &:hover {
        background-color: var(--secondary-003);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: var(--white);

    &:hover {
        background-color: var(--button-hover-background-color);
    }
}

.iconOnly {
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    padding: 0;
    color: var(--secondary);
}
// size
.small {
    min-width: 88px;
    padding: 1px 16px;
}

.large {
    min-width: 160px;
    padding: 10px 16px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
}
