@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --primary: #fe2c55;
    --secondary: rgb(22, 24, 35);
    --secondary-003: rgba(22, 24, 35, 0.03);
    --secondary-006: rgba(22, 24, 35, 0.06);
    --secondary-012: rgba(22, 24, 35, 0.12);
    --secondary-034: rgba(22, 24, 35, 0.34);
    --secondary-05: rgba(22, 24, 35, 0.5);
    --secondary-075: rgba(22, 24, 35, 0.75);
    --checked-icon-color: rgb(32, 213, 236);
    --button-hover-background-color: rgba(254, 44, 85, 0.06);

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--secondary);
}

input,
button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a[href] {
    text-decoration: none;
}
