.wrapper {
    padding: 16px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0px;
        height: 1px;
        background: var(--secondary-012);
        transform: scaleY(0.5);
    }

    .label {
        padding: 0px 8px;
        margin-bottom: 8px;
    }
}

@media (max-width: 1071px) {
    .wrapper.hide {
        display: none;
    }

    .label {
        display: none;
    }
}
