.label {
    padding: 0px 8px;
    margin-bottom: 8px;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-003);
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 999px;
        margin-right: 12px;
    }

    .item-info {
        .nickname {
            font-weight: 700;
            font-family: var(--font-nickname);
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-top: -2px;
            max-width: 260px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .icon {
            margin-left: 4px;
            color: var(--checked-icon-color);
            font-size: 1.4rem;
        }

        .name {
            color: var(--secondary-075);
            font-size: 1.2rem;
            line-height: 1.5rem;
            max-width: 260px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.see-all {
    padding: 0px 6px 0px 8px;
    margin-top: 8px;
    cursor: pointer;
    color: var(--primary);
    font-weight: 600;
}
