.wrapper {
    width: 320px;
    padding: 20px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    & > a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        width: 44px;
        height: 44px;
        border-radius: 999px;
    }
}

.container {
    .nickname {
        font-weight: 700;
        font-family: var(--font-nickname);
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .icon {
        margin-left: 4px;
        color: var(--checked-icon-color);
        width: 1.4rem;
    }

    .name {
        color: var(--secondary-075);
        font-weight: 600;
    }

    .user-stat {
        margin-top: 8px;

        .counts {
            font-weight: 700;
            margin-right: 0.6rem;
            font-size: 1.7rem;
        }

        .label {
            color: rgba(22, 24, 35, 0.75);
            font-size: 1.7rem;
            margin-right: 12px;
        }
    }
}
