.label {
    padding: 0px 8px 16px 8px;
    margin-bottom: 8px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 8px;
}

.discover-item {
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 12px;
    margin-right: 8px;
    padding: 3px 10px;
    border: 1px solid var(--secondary-02);
    border-radius: 12px;
    transition: background-color 200ms ease-in-out 0s;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-003);
    }

    .icon {
        color: var(--secondary);
        flex-shrink: 0;
    }

    .text {
        color: var(--secondary-075);
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding-left: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
