.wrapper {
    height: calc(450px + ((100vw - 768px) / 1152) * 100);
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;

    .video {
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.control {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease 0s;
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    .volume {
        position: absolute;
        bottom: 26px;
        right: 16px;
        width: 40px;
        padding-bottom: 8px;

        &:hover .volume-bar-back {
            display: block;
        }

        .icon {
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .volume-bar-back {
            display: none;
            width: 24px;
            height: 64px;
            margin: 8px;
            position: relative;
            background-color: var(--secondary-034);
            border-radius: 32px;

            .volume-bar {
                width: 2px;
                height: 48px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 4px;
                position: absolute;
                left: 11px;
                top: 8px;
                bottom: 8px;
                cursor: pointer;
            }

            .volume-thumb {
                width: 12px;
                height: 12px;
                background-color: var(--white);
                border-radius: 12px;
                position: absolute;
                left: 6px;
                bottom: 8px;
            }
        }
    }

    .play-btn {
        position: absolute;
        bottom: 26px;
        left: 12px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .report {
        position: absolute;
        right: 16px;
        top: 24px;
        color: var(--white);
        font-weight: 600;
        font-size: 16px;
        cursor: default;

        svg {
            margin-right: 4px;
            width: 12px;
            height: 14px;
        }
    }
}
